#news-list-page {
    .header-banner {
        background-attachment: fixed;
    }
    
    min-height: 100%;
    background-image: url(/assets/cover.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .loading-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .add-news {
        cursor: pointer;
        $button-size: 3.5rem;
        color: #140d0c;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        height: $button-size;
        width: $button-size;
        border-radius: 50%;
        font-size: $button-size;
        background: #fff;

        &:focus {
            outline: none;
        }
    }

    .news-container {
        padding: 85px 1rem 1rem;
        display: flex;
        flex-wrap: wrap;

        .news-item {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            // border-radius: 10px;
            width: 50%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            position: relative;
            height: 100%;
            margin-bottom: 32px;

            h1 {
                font-size: 2rem;
                line-height: 2.2rem;
                margin-bottom: 1rem;
            }

            &:hover {
                box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3), 0 5px 18px 0 rgba(0, 0, 0, 0.3);
                cursor: pointer;
            }

            &:nth-child(even) {
                margin-left: 1.5rem;
                width: calc(50% - 1.5rem);
            }
            
            .news-background {
                height: 300px;
                background-position: center;
                background-size: cover;
            }

            .news-info {
                // position: absolute;
                bottom: 0;
                background-image: linear-gradient(#585554, #140d0c);
                color: #fff;
                width: 100%;
                padding: 32px;
                // border-bottom-left-radius: 10px;
                // border-bottom-right-radius: 10px;

                &:hover {
                    h1 {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .news-item {
        width: 100% !important;
        margin-left: 0 !important;
    }
}