<div class="howto-section-container">
    <h1 class="section-title">Kim jesteśmy</h1>
    <h2 class="section-subtitle">Co możemy dla Ciebie zrobić</h2>
    <div class="main-content">
        <div class="info-container">
            <div class="icon">
                <img src="assets/icon_who.png" alt="Komu pomagamy">
            </div>
            <div class="title">
                Komu pomagamy?
            </div>
            <div class="content">
                Pomagamy rolnikom indywidualnym, fermom mlecznym, mleczarniom i wszystkim zainteresowanym poprawą dobrostanu 
                zwierząt przez szeroko pojętą profilaktykę w obszarze pozyskiwania mleka.
            </div>
        </div>
        <div class="info-container">
            <div class="icon">
                <img src="assets/icon_work.png" alt="Co robimy">
            </div>
            <div class="title">
                Co robimy?
            </div>
            <div class="content">
                Zajmujemy się sprzedażą dodatków paszowych, środków higieny udoju i pozyskiwania mleka oraz serwisem i atestacją 
                urządzeń udojowych i chłodzących mleko. Oprócz tego świadczymy usługi doradcze i szkoleniowe dla hodowców i 
                producentów mleka w zakresie higieny pozyskiwania mleka, profilaktyki chorób metabolicznych i zakaźnych, mających 
                wpływ na jakość produkowanego mleka i opłacalność produkcji.
            </div>
        </div>
        <div class="info-container">
            <div class="icon">    
                <img src="assets/icon_where.png" alt="Gdzie działamy">
            </div>
            <div class="title">
                Gdzie działamy?
            </div>
            <div class="content">
                Z powodzeniem działamy w branży rolniczej związanej z hodowlą krów mlecznych. Teren naszego działania obejmuje 
                głównie teren województw: wielkopolskiego, kujawsko-pomorskiego, lubuskiego, zachodniopomorskiego i pomorskiego, 
                gdzie znajduje się większość dużych i średnich ferm mlecznych w Polsce.
            </div>
        </div>
        <div class="info-container">
            <div class="icon">
                <img src="assets/icon_marketing.png" alt="Doradztwo czy marketing">
            </div>
            <div class="title">
                Doradztwo czy marketing?
            </div>
            <div class="content">
                W dzisiejszych czasach silnej konkurencji między firmami, które na potęgę rozbudowały marketing, a nie doradztwo 
                - producent mleka zalewany jest ogromną ilością informacji marketingowych, a nie specjalistycznych i podejmuje 
                decyzje zakupowe, nie mając pewności jak wpłyną one na zdrowotność stada i na ekonomię produkcji. 
            </div>
        </div>
        <div class="info-container">
            <div class="icon">
                <img src="assets/icon_trust.png" alt="Zaufaj nam">
            </div>
            <div class="title">
                Zaufaj nam!
            </div>
            <div class="content">
                Nasze usługi doradcze, szkoleniowe i audytowe pozwalają uświadomić producentom mleka zależności między 
                skomplikowanymi procesami produkcji mleka, co przekłada się na wzrost ich świadomości, a w efekcie podejmowanie 
                trafniejszych decyzji zakupowych, co ma wpływ na poprawę dobrostanu zwierząt, zmniejszenie ilości zużywanych 
                antybiotyków na sztukę bydła i poprawę dochodowości gospodarstw. 
            </div>
        </div>
    </div>
</div>
