<div class="offer-section-container">
    <h1 class="section-title">Oferta</h1>
    <h2 class="section-subtitle">Komu pomagamy i z kim współpracujemy</h2>
    <div class="offer-item-container">
        <div class="offer-item">
            <div class="image-container" style="background-image: url('assets/farmer.jpg');">
            </div>
            <div class="info-container">
                <h2>Rolnicy  indywidualni</h2>
                <p>Rolnicy posiadający średnio od 10 do 200 krów  dojnych,  którzy  borykają  się  z problemami zdrowotnymi
                    u krów lub chcą sprawdzenia czy w należyty sposób przeprowadzone zostały u nich usługi serwisowe.
                    Dodatkowym oczekiwaniem takich osób jest także posiadanie u swoich zwierząt odpowiednio niskiej liczby komórek 
                    somatycznych, spełniającej wymagania mleczarni, weterynarii oraz sanepidu.</p>
            </div>
        </div>
    </div>
    <div class="offer-item-container">
        <div class="offer-item reversed">
            <div class="image-container" style="background-image: url('assets/ferm.jpg');">
            </div>
            <div class="info-container">
                <h2>Fermy mleczne</h2>
                <p>Podstawową potrzebą ferm mlecznych jest poprawa ekonomii produkcji mleka. Często istnieje potrzeba wskazania
                    pożądanych zmian, aby osiągnąć zamierzone cele. Pomagamy także fremom, które potrzebują szkoleń dla zootechników
                    i pracowników pracujących przy krowach mlecznych. Wzrost ekonomii produkcji mleka a co za tym idzie - wzrost wydajności,
                    pomaga także awansować w rankingach branżowych.</p>
            </div>
        </div>
    </div>
    <div class="offer-item-container">
        <div class="offer-item">
            <div class="image-container" style="background-image: url('assets/milk.jpg');">
            </div>
            <div class="info-container">
                <h2>Mleczarnie</h2>
                <p>Mleczarnie chcące produkować produkty mleczarskie wysokiej jakości potrzebują skupować najlepsze możliwe surowce,
                    gwarantujące niższe koszty przetwarzania. Mogą osiągnąć ten cel m.in. dzięki poprawie świadomości dostawców,
                    a co za tym idzie - wprowadzeniem odpowiedniej higieny w ich gospodarstwach.
                </p>
            </div>
        </div>
    </div>
    <div class="offer-item-container">
        <div class="offer-item reversed">
            <div class="image-container" style="background-image: url('assets/milk-producer.jpg');">
            </div>
            <div class="info-container">
                <h2>Grupy producenckie skupiające producentów mleka</h2>
                <p>
                    Głównym zadaniem grup producenckich jest utrzymanie się na rynku i poprawa sytuacji ekonomicznej drobnych producentów, 
                    aby mogli oni sprostać wymaganiom narzucanym przez konsumenta i rynek. Aby to osiągnąć, podobnie jak mleczarnie muszą one
                    dysponować jednorodnym surowcem bardzo wysokiej jakości, dzięki któremu będą mogły osiągnąć możliwie najwyższe ceny za mleko.
                </p>
            </div>
        </div>
    </div>
    <div class="offer-item-container">
        <div class="offer-item">
            <div class="image-container" style="background-image: url('assets/cow.jpg');">
            </div>
            <div class="info-container">
                <h2>Wszystkie podmioty zainteresowane poprawą dobrostanu zwierząt</h2>
                <p>
                    Współpracujemy z każdym, w kogo interesie leży poprawa stanu zdrowia jego zwierząt. Pomagamy zmniejszyć 
                    ilości zużywanych antybiotyków na sztukę krów mlecznych w gospodarstwie. Najważniejsza dla nas jest
                    skuteczność w rozwiązaniu najbardziej aktualnego problemu dotyczącego krów mlecznych. Wiemy, że wysoka jakość
                    produktu związana jest z rozwiązaniem problemu, a nie zamaskowaniem go na jakiś czas.
                </p>
            </div>
        </div>
    </div>
</div>