.offer-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    .offer-item-container {
        display: flex;
        justify-content: center;
        
        &:nth-child(odd) {
            background: #f3f3f3;

            .info-container {
                margin-left: 100px;
            }
        }
        
        &:nth-child(even) {
            .info-container {
                margin-right: 100px;
            }
        }
        
        .offer-item {
            width: 80%;
            padding: 2rem 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
    
            &.reversed {
                flex-direction: row-reverse;
            }
            
            .image-container {
                min-width: 300px;
                min-height: 300px;
                max-width: 300px;
                max-height: 300px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 100%;
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
            }
    
            .info-container {
                display: flex;
                align-items: center;
                flex-direction: column;

                h2 {
                    width: 100%;
                    font-size: 2rem;
                    line-height: 2.5rem;
                    text-align: left;
                    letter-spacing: 1px;
                    font-weight: normal;
                    margin-bottom: 1.5rem;
                }
                p {
                    font-size: 1.1rem;
                    text-align: justify;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .offer-item {
        flex-direction: column !important;
        width: 95% !important;

        h2 {
            margin-top: 2.5rem;
            text-align: center !important;
        }

        .info-container {
            padding: 0 !important;
            margin: 0 !important;
        }
    }
}