#news-detail-container {
    min-height: 100%;

    .content-container {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        padding-top: 85px;

        span {
            text-align: end;
            margin-bottom: 1rem;
            color: #777;
        }

        .button-container {
            margin: 1rem 0;
            display: flex;
            button {
                width: 50%;

                &:first-child {
                    margin-right: 1rem;
                }

                &:last-child {
                    margin-left: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .content-container {
        width: 85% !important;

        .button-container {
            flex-wrap: wrap;
            button {
                width: 100% !important;
                margin: 0 !important;
                
                &:first-child {
                    margin-bottom: 1rem !important;
                }
            }
        }
    }
}