.contact-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem;
    text-align: center;

    &>h2 {
        margin: 1.2rem 0 3rem;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .contact-details-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;

        .flex-center {
            flex-direction: column;
            padding: 1.5rem;
        }

        p {
            font-size: 1.5rem;
            line-height: 2rem;
        }

        mat-icon {
            font-size: 3rem;
            width: 3rem;
            height: 3rem;
            margin: 1rem 0;
            color: #585554;
        }

        .facebook {
            mat-icon {
                color: #585554;
                // color: #0778e9;
            }
        }

        a {
            color: black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}