.contact-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2.5rem 2.5rem;
    text-align: center;

    &>h2 {
        margin: 1.2rem 0 3rem;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .contact-details-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;

        a {
            color: black;
            text-decoration: none;

            &:hover {
                mat-icon {
                    transform: scale(1.5);
                    color: #353030;
                }

                mat-icon.facebook {
                    color: #0778e9;
                }
            }
        }

        .flex-center {
            flex-direction: column;
            padding: 1.5rem;
        }

        p {
            font-size: 1.5rem;
            line-height: 2rem;
        }

        mat-icon {
            font-size: 3rem;
            width: 3rem;
            height: 4rem;
            margin: 1rem 0;
            color: #585554;
            transition: transform .5s, color .5s;
        }
    }
}