<div class="contact-section-container">
    <h1 class="section-title">Kontakt</h1>
    <h2 class="section-subtitle">Masz pytania lub jesteś zainteresowany współpracą? Skontaktuj się z nami!</h2>
    <div class="contact-details-container">
        
        <a href = "mailto:fuhrmann.tech@gmail.com?subject = Feedback&body = Message">
            <div class="flex-center">
                <p>
                    Adres e-mail
                </p>
                <mat-icon aria-hidden="false" class="mail">email</mat-icon>
                <p>
                    <span class="info">
                        fuhrmann.tech@gmail.com
                    </span>
                </p>
            </div>
        </a>
        
        <a href="tel:+48 791 597 605">
            <div class="flex-center">
                <p>
                    Numer telefonu
                </p>
                <mat-icon aria-hidden="false" class="phone">local_phone</mat-icon>
                <p>
                    <span class="info">
                        +48 791 597 605
                    </span>
                </p>
            </div>
        </a>
        
        <a href="https://www.facebook.com/stopvets" target="_blank">
            <div class="flex-center">
                <p>
                    Facebook
                </p>
                <mat-icon aria-hidden="false" class="facebook">facebook</mat-icon>
                <p>
                    <span class="info">
                        StopVet
                    </span>
                </p>
            </div>
        </a>

        <a href="https://www.google.com/maps/place/Pr%C3%B3chnowo+44,+64-830+Pr%C3%B3chnowo/@52.9379538,17.1455979,17z/data=!4m5!3m4!1s0x47038ec801a6c78f:0xbd52144c4c114904!8m2!3d52.9380249!4d17.1467888?hl=PL" target="_blank">
            <div class="flex-center">
                <p>
                    Siedziba
                </p>
                <mat-icon aria-hidden="false">home_work</mat-icon>
                <p>
                    <span class="info">
                        <span>Próchnowo 44,</span><br/>
                        <span>64-830 Margonin</span>
                    </span>
                </p>
            </div>
        </a>

    </div>
</div>
