.about-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    button {
        border-radius: 25px !important;
    }

    .main-content {
        padding: 0 2.5rem;
        display: flex;
        flex-direction: row-reverse;
        transition: width .8s;

        .image-container {
            display: flex;
            align-items: flex-end;
            width: 30%;
            justify-content: center;

            img {
                z-index: 5;
                max-height: min(90vw, 420px);
            }
        }

        .info-container {
            display: flex;
            flex-direction: column;
            width: 70%;
            justify-content: center;
            align-items: center;
            z-index: 5;
            margin-bottom: 1.5rem;

            #text-section {  
                padding: 2rem;
                background: white;
                box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3), 0 5px 18px 0 rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            p {
                text-align: justify;
                font-size: 1.1rem;
            }

            button {
                width: 50%;
                margin-top: 1.5rem;
            }

            .side-info {
                transition: height .8s;
                transition: opacity .01s;
            }

            h2 {
                font-size: 2.5rem !important;
            }
        }

        .circle-behind {
            border: 40px solid #e2e2e2;
            height: min(100vw, 400px);
            border-radius: 50%;
            width: min(100vw, 400px);
            position: absolute;
        }
    }

    .bottom-section {
        width: 100%;
        padding: 1.5rem;
        background: #585554;
        color: white;
        font-size: 1.3rem;
        line-height: 1.5rem;
        box-shadow: 0px -10px 20px 0px rgba(0,0,0,0.27);

        p {
            margin: 0;
        }
    }
}

@media screen and (max-width: 960px) {
    .main-content {
        flex-direction: column !important;
        padding: 0 !important;
        
        .image-container {
            width: 100% !important;
        }

        .info-container {
            width: 100% !important;
        }
    }
}