<div class="about-section-container">
    <h1 class="section-title">O nas</h1>
    <div class="main-content" [ngStyle]="{'width': (sideInfoExpanded ? '90%' : '80%')}">
        <div class="info-container" [ngStyle]="{'width': (sideInfoExpanded ? '70%' : '50%')}">
            <h2 class="section-subtitle">StopVet</h2>
            <div id="text-section">
                <p class="main-info">
                    Od X lat zajmujemy się rozwiązywaniem problemów mastitis u krów mlecznych, które były i są największym problemem 
                    gospodarstw mlecznych, powodującym spadek wydajności mlecznej i pogorszenie jakości mleka. Przez ten okres zdobyliśmy
                    ogromną wiedzę i doświadczenie doradcze, pozwalające na skuteczne rozwiązywanie problemów z mastitis, a hodowcom
                    na bezcenny spokój płynący z fachowej pomocy.
                </p>
                <div class="side-info" [ngStyle]="styleSideInfo()">
                    <p>Nasza przygoda z somatyką rozpoczęła się od współpracy z gospodarstwem Chotel 
                        należącym do OHZ Osięciny, gdzie wówczas pozwolono nam przetestować program kompleksowej higieny pozyskiwania
                        mleka, który okazał się skuteczny i był drogowskazem do dalszych dociekań.
                    </p>
                    <p>
                        Kolejnym wyzwaniem dla nas była praca z RKS Bondecz, gdzie zostaliśmy poproszeni przez głównego hodowcę o 
                        pomoc w rozwiązaniu problemu z bardzo zakaźną bakterią gronkowca złocistego, która dziesiątkowała stado
                        ponad 400 krów, a wszystkie dotychczasowe działania nie przyniosły pozytywnego rozwiązania. Po około pół 
                        roku po wprowadzeniu programu profilaktyki liczba krów ze zdiagnozowanym gronkowcem spadła z 50 do 8, co
                        skutkowało wzrostem wydajności i poprawie kondycji ekonomicznej gospodarstwa.
                    </p>
                    <p>
                        Rozpoczynając współpracę z OHZ w Chodeczku było to gospodarstwo o niskiej wydajności krów mlecznych z bardzo
                        wysoką liczbą komórek somatycznych, oznaczających stany chorobowe wymion. Współpraca z zootechnikiem, 
                        lekarzem weterynarii zaowocowała tym, że po roku tak mocno poprawiliśmy zdrowotność wymion, 
                        że gospodarstwo jest podawane jako przykład do naśladowania dla innych, ponieważ zużywa najmniej 
                        antybiotyków na krowę mleczną z wszystkich gospodarstw agencyjnych.  
                    </p>
                    <p>Z tymi gospodarstwami jak i z wieloma innymi utrzymujemy kontakt do dnia dzisiejszego i widzimy sens w tym co 
                        robimy, czyli: doradztwie, szkoleniach, handlu i serwisie. Przeprowadziliśmy kilkadziesiąt szkoleń dla kilkuset
                        hodowców bydła mlecznego współpracując z Polską Federacją Hodowców Bydła i Producentów Mleka i kilkoma
                        podmiotami skupującymi mleko. </p>
                </div>
                
                <button class="collapse" mat-raised-button color="primary" (click)="toggleExpanded()">
                    {{!sideInfoExpanded ? "Cztaj więcej" : "Zwiń"}}</button>
            </div>
        </div>
        <div class="image-container" [ngStyle]="{'width': (sideInfoExpanded ? '30%' : '50%')}">
            <!-- <div class="circle-behind"></div> -->
            <img src="assets/icon_us.png" alt="StopVet" class="logo">
        </div>
    </div>
    <div class="bottom-section">
        <p>
            Trafna diagnoza jest kluczem do sukcesu, ponieważ zwierzęta nie potrafią same nam powiedzieć co im dolega lub 
            jak się czują. Pozwala na to wnikliwa obserwacja zwierząt, dokładne sprawdzenie wszystkich elementów produkcji 
            mleka a także precyzyjne wskazanie pożądanych zmian przy udziale wskazanych produktów czy usług. Tak rodzi się 
            zaufanie i współpraca na długie lata.</p>
    </div>
</div>
