.about-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .main-content {
        padding: 0 2.5rem;
        display: flex;
        flex-direction: row-reverse;

        .image-container {
            display: flex;
            align-items: flex-end;
            width: 30%;
            justify-content: center;

            img {
                z-index: 5;
                max-height: 420px;
            }
        }

        .info-container {
            display: flex;
            flex-direction: column;
            width: 70%;
            justify-content: center;
            z-index: 5;
        }

        .circle-behind {
            border: 40px solid #e2e2e2;
            height: min(100vw, 400px);
            border-radius: 50%;
            width: min(100vw, 400px);
            position: absolute;
        }
    }

    .bottom-section {
        width: 100%;
        padding: 1.5rem;
        background: #585554;
        color: white;
        font-size: 1.3rem;
        line-height: 1.5rem;
        box-shadow: 0px -10px 20px 0px rgba(0,0,0,0.27);

        p {
            margin: 0;
        }
    }
}

@media screen and (max-width: 960px) {
    .main-content {
        flex-direction: column !important;
        padding: 0 !important;
        
        .image-container {
            width: 100% !important;
        }

        .info-container {
            width: 100% !important;
        }
    }
}