<div class="store-section-container">
    <h1 class="section-title">Sklep</h1>
    <h2 class="section-subtitle">Tu znajdziesz nasze produkty</h2>
    <div class="images">
        <div class="store-image-container">
            <a href="https://allegro.pl/" target="blank">
                <img src="assets/icon_allegro.png" alt="Sklep allegro" class="logo">
            </a>        
            <p>Kliknij aby zobaczyć!</p>
        </div>
        <div class="store-image-container">
            <a href="https://www.olx.pl/" target="blank">
                <img src="assets/icon_olx.png" alt="Sklep OLX" class="logo">
            </a>
            <p>Kliknij aby zobaczyć!</p>
        </div>
    </div>
</div>
