#news-dashboard-container {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    background-image: url(~src/assets/cover.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .fields {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .description-fields {
            min-width: 60%;
            padding: 1rem;
            display: flex;
            flex-direction: column;

            textarea {
                height: 350px;
            }
        }
    }

    .image-container img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 350px;
    }

    mat-checkbox, button {
        width: 100%;
        margin-top: 1rem;
    }

    .loading-spinner {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 960px) {
    .fields {
        flex-direction: column;

        .description-fields {
            width: 100% !important;
        }
    }
}