.error-component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    background-image: url(/assets/cover.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .err-container {
        text-align: center;
        font-family: 'Manrope', sans-serif;
        text-shadow: 2px 2px 4px #000000;
        letter-spacing: 4px;
        font-size: 12rem;
        line-height: 13rem;
    }

    p {
        text-align: center;
        font-family: 'Manrope', sans-serif;
        text-shadow: .5px .5px 1px #000000;
        letter-spacing: 2px;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    button {
        margin-top: 1rem;
    }
}