#login-page {
    background-image: url(/assets/cover.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.login-container {
    padding: 2rem;
    border: 2px solid #666666;
    border-radius: 1rem;
    width: 50vw;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffffee;
    flex-direction: column;

    form {
        width: 100%;
        margin-top: 6vw;

        & * {
            width: 100%;
        }
    }

    .logo {
        width: 30%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 960px) {
    .login-container {
        width: 90%;
    }

    form {
        margin-top: 10vw !important;
    }
}