<div id="login-page" class="padding-top">
    <div class="login-container flex-center">
        <img src="/assets/logo_500.png" alt="StopVet" class="logo">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field>
                <input matInput placeholder="E-mail" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Hasło" formControlName="password">
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.valid">Zaloguj się</button>
        </form>
    </div>
</div>
