<header id="home-section" class="padding-top anchor_tags">
    <img *ngIf="isMobile" src="assets/logo_500.png" alt="StopVet">
    <span class="header-text">
        <h1><span>PROFILAKTYKA JEST</span><br/><span>TAŃSZA</span></h1>
        <p>
            Opieka i dbanie o zdrowie zwierząt jest podstawą ekonomi produkcji mleka
        </p>
    </span>
    <div class="banner-top-strap"></div>
    <mat-icon id="scroll-down-icon" aria-hidden="false" (click)="scrollToElement('news')">arrow_downward</mat-icon>
    <div class="mask"></div>
</header>
<main>
    
    <div id="news-section" class="anchor_tags" *ngIf="carouselleNews">
        <h1 class="section-title">Aktualności</h1>
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let news of carouselleNews">
                <ng-template carouselSlide>
                    <div class="carousel-item" style="background-image: url({{news.image}});">
                    </div>
                    <div class="info-container" routerLink="news/{{news.id}}">
                        <h1>{{news.title | slice:0:headerLength}}{{news.title.length > headerLength ? '...' : ''}}</h1>
                        <p>{{news.content | slice:0:textLength}}{{news.content.length > textLength ? '...' : ''}}</p>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
    <div class="news-button-container">
        <a routerLink="/news">Zobacz wszystkie aktualności</a>
        <button *ngIf="auth.afAuth.authState | async as user" mat-raised-button color="primary"
            routerLink="/news/create">Dodaj aktualność</button>
    </div>
    <howto-section id="howto-section" class="anchor_tags"></howto-section>
    <offer-section id="offer-section" class="anchor_tags"></offer-section>
    <about-section id="about-section" class="anchor_tags"></about-section>
    <store-section id="store-section" class="anchor_tags"></store-section>
    <contact-section id="contact-section" class="anchor_tags"></contact-section>
</main>
<footer style="background: #140d0c;">
    <img src="assets/logo_200.png" alt="StopVet" class="logo">
    &copy; {{currentYear}} StopVet, wszelkie prawa zastrzeżone
</footer>
<div *ngIf="!cookieAccepted" id="cookie-info">
    <span id="cookie-text">Ta strona może używać ciasteczek, aby świadczyć usługi na najwyższym poziomie</span>
    <button mat-raised-button color="accent" (click)="acceptCookie()">ROZUMIEM</button>
</div>