header {
    position: relative;
    background: white;
    background-image: url(/assets/cow-lg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 95vh;
    padding-top: calc(6.5rem + 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: #fff;

    #scroll-down-icon {
        background: #050303;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        font-size: 1.5rem;
        height: 2.5rem;
        width: 2.5rem;
        color: white;
        padding: 0.5rem;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .banner-top-strap {
        height: 3.5rem;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        display: block;
        background-image: linear-gradient( #140d0c 20%, #00000000);
        z-index: 5;
    }

    .header-text {
        text-align: center;

        h1 {
            text-align: center;
            font-family: 'Manrope', sans-serif;
            text-shadow: 2px 2px 4px #000000;
            letter-spacing: 4px;
            
            span:nth-of-type(1) {
                font-size: 3rem;
                line-height: 3.5rem;
            }
            span:nth-of-type(2) {
                font-size: 8.1rem;
                line-height: 8.5rem;
            }
        }

        p {
            margin: 2rem auto 6.5rem;
            width: 80%;
            font-size: 1.2rem;
            line-height: 1.5rem;
            letter-spacing: 1px;
        }
    }

    img {
        width: 230px;
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000066;
        z-index: -1;
    }
}

#news-section {
    display: flex;
    flex-direction: column;
}

.news-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;

    a {
        font-size: 1.3rem;
        padding: 1.3rem;
        color: #050303;
    }

    button {
        width: 50%;
    }
}

main {
    background-image: url(/assets/cover.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#cookie-info {
    width: 100%;
    background-image: linear-gradient(#00000000, #140d0c 20%);
    padding: 1.5rem 0 .7rem;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 5;

    #cookie-text {
        color: #fff;
        text-align: center;
        margin: 0 1rem;
    }
}

footer {
    position: relative;
    height: 100px;
    color: white;
    font-size: 1rem;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 80px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 960px) {
    header {
        background-image: url(/assets/cow-md.jpg);
        height: 95vh !important;
        padding-bottom: calc(40px + 2.5rem);

        #scroll-down-icon {
            background: #585554;
        }

        .header-text {
            h1 {
                margin-top: 1.5rem;
                span:nth-of-type(1) {
                    font-size: 1.3rem;
                    line-height: 2rem;
                }
                span:nth-of-type(2) {
                    font-size: 3.9rem;
                    line-height: 5.2rem;
                }
            }
            p {
                margin-top: 1.5rem;
            }
        }
    }

    #cookie-info {
        background-image: linear-gradient( #00000000, #140d0c 15%);
        button {
            margin-top: 1rem;
        }
    }
}