/* You can add global styles to this file, and also import other style files */
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

$primaryColor: #140d0c;
$secondaryColor: #585554;

html {
    overflow-y: scroll;
    scrollbar-color: $secondaryColor $primaryColor;
}

html::-webkit-scrollbar {
    width: 16px;
}

html::-webkit-scrollbar-track {
    background: $primaryColor;
}

html::-webkit-scrollbar-thumb {
    background-color: $secondaryColor;
}
  

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}

.owl-carousel .owl-stage {
    display: flex;
    height: 480px !important;
}

.owl-carousel .owl-item {
    height: 100%;
    margin-left: -1px;
    margin-right: -1px;
    overflow: hidden;
}

.owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.owl-nav {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;

    & [class*="owl-"] {
        box-sizing: content-box;
        margin: 1rem !important;
        height: 30px;
        width: 30px;
        padding: 10px !important;
        border-radius: 10px !important;
        background: radial-gradient(#353030aa, $primaryColor) !important;

        &:hover {
            background: radial-gradient( $primaryColor, #353030aa) !important;
        }

        & img {
            height: 100%;
        }
    }
}

.owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
        background: $primaryColor;
        border: 1px solid #fff !important;
}

.owl-item {
    .carousel-item {
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        transition: transform .4s;
    }
    
    .info-container {
        position: absolute;
        bottom: 0;
        padding: 1.5rem;
        background-image: linear-gradient(#353030dd, $primaryColor);
        color: #fff;
        cursor: pointer;
        width: 100%;
    
        &:focus {
            outline: none;
        }

        a:link, a:visited, a:hover, a:active {
            color: #fff;
        }

        &:hover h1{
            text-decoration: underline;
        }
        
        p {
            font-size: 1rem;
        }
    }

    &.center {
        &:hover .carousel-item,
        &:focus .carousel-item {
            transform: scale(1.3);
        }
    }
}

.padding-top {
    padding-top: 80px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-centervertically {
    display: flex;
    align-items: center;
}

.flex-center-horizontally {
    display: flex;
    justify-content: center;
}

.image-item {
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.section-title {
    font-size: 3rem !important;
    font-weight: 500 !important;
    line-height: 3.5rem !important;
    margin: 2rem 0 3rem !important;
    text-shadow: 1px 1px 1px #00000055 !important;
    font-family: "Manrope", sans-serif !important;
    color: $primaryColor !important;
    text-align: center;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 50px;
        background-color: $secondaryColor;
        height: 5px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1rem;
    }
}

.section-subtitle {
    font-size: 1.8rem !important;
    font-weight: 500 !important;
    line-height: 2.5rem !important;
    text-shadow: 1px 1px 1px #00000055 !important;
    font-family: "Manrope", sans-serif !important;
    color: $secondaryColor;
}

.section-subtitle:before, .section-subtitle:after {
    content: "-";
    margin: 10px;
}

.header-banner {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
        max-width: 85%;
        color: white;
        text-transform: uppercase;
        font-family: 'Manrope', sans-serif;
        text-shadow: 2px 2px 4px #000000;
        letter-spacing: 2px;
        text-align: center;
        font-size: 3.5rem !important;
        line-height: 4rem !important;
        position: relative;
        margin: 10px;
        z-index: 1;
        letter-spacing: 2px !important;

        span{
            position: absolute;
            filter: blur(4px);
            top: 3px;
            left: 0px;
            z-index: -1;
            color: #000;
        }
    }

    .mask {
        width: 100%;
        height: 100%;
        position: absolute;
        background: #00000044;
    }

    img {
        width: 30%;
        max-width: 150px;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
    }
}

@media screen and (max-width: 960px) {
    .owl-carousel .owl-stage {
        height: 400px !important;
    }

    .owl-item {
        .info-container {
            padding: 1rem;
        }

        p {
            font-size: 0.9rem;
        }
    }
    
    #menu-toggle {
        display: block !important;
    }
    
    
    .header-banner {
        h1 {
            font-size: 2.7rem !important;
            line-height: 3.2rem !important;
        }
    }
}